
.form-control label,
.form-control input{
    display: flex;
    width: 100%;
}
.form-control input {
    border: 1px solid rgba(171, 46, 217, 0.786);
    font: inherit;
    margin: 1rem 0;
    border-radius: 2px;
}

button{
    font:inherit;
    height:2.5rem;
    width: 5rem;
    border: 1px  solid rgba(171, 46, 217, 0.786);
    color: rgba(171, 46, 217, 0.786);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer; 
}
button:active,
button:hover{
    background-color: rgba(171, 46, 217, 0.786);
    color: white;
}
.product-form{
    width: 30rem;
    max-width: 90%;
    margin: auto;

}