<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shope</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item_list">
                <li class="main-header__item"><a href="/">Shope</a></li>
                <li class="main-header__item"><a href="/admin">ADD PRODUCT</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <form class="product-form" action ="/add-product" method="POST">
                <div class="form-control">
                    <labell for="title">Enter product  :  </label>
                    <input type="text" name="Title" id="title">
                    <labell for="size">Enter Size of product   :  </label>
                    <input type="text" name="size" id="size">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </main>
    
</body>
</html>