<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shope</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item_list">
                <li class="main-header__item"><a href="/">Shope</a></li>
                <li class="main-header__item"><a href="/contact">Contactus</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <form action ="/success" method="POST" class="product-form">
                <div class="form-control">
                    <labell for="name">Name  :  </label>
                    <input type="text" name="name" id="name">
                    <labell for="email">Email   :  </label>
                    <input type="text" name="size" id="email">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </main>
    
</body>
</html>